  <!-- <p>Course by Mosh</p>
<app-courses></app-courses> -->
<!-- <app-favorite [email] = "email"></app-favorite> 

<bootstrap-panel>
    <ng-container class="heading">Heading</ng-container>
    <div class="body">Body</div>
</bootstrap-panel>  -->

<!-- <app-testngif></app-testngif> -->

<!-- <button
[style.backgroundColor] = "isSave ? 'blue' : 'grey'"
[style.color]="isSave ? 'red' : 'green'"
[style.fontweight]="isSave ? 'bold' : 'normal'"
>Submit  
</button> -->

<!-- 
<button [ngStyle]=
"{
    'background-color':isSave ? 'blue' : 'grey',
    'color':isSave ? 'white' : 'grey',
    'fontweight':isSave ? 'blue' : 'grey'
}" 
>Submit </button> -->


<!-- <signup-form></signup-form> -->
<!-- <newcourseform></newcourseform> -->
<!-- <posts></posts> -->

<navbar></navbar>
<router-outlet></router-outlet>
